@media screen and (max-width: 1024px) {

    header {
        padding: 25px 0 25px 0;
        margin-bottom: 30px;;
    }

    header h1 {
        font-size: 45px;
    }

    .wrapper {
        width: 800px;
        padding-left: 45px;
    }

    .box {
        height: 96px;
        font-size: 23px;
    }

}

@media screen and (max-height: 1024px) {

    .wrapper {
        padding-left: 25px;
    }

    .box {
        font-size: 20px;
    }

    #imgwrooka {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgwrookb {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgbrooka {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgbrookb {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgwknighta {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #whiteknighta {
        position: absolute;
    }
    
    #imgbknighta {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgbknightb {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgwbishopa {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgwbishopb {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgbbishopa {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgbbishopb {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgwking {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgbking {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgwqueen {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgbqueen {
        height: 60px;
        width: 60px;
        opacity: 8;
    }

}

@media screen and (max-width: 768px) {

    .wrapper {
        margin-left: 30px;
        width: 700px;
    }

    .box {
        height: 84px;
    }

    #imgwrooka {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgwrookb {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgbrooka {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgbrookb {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgwknighta {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #whiteknighta {
        position: absolute;
    }
    
    #imgbknighta {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgbknightb {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgwbishopa {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgwbishopb {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgbbishopa {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgbbishopb {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgwking {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgbking {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgwqueen {
        height: 60px;
        width: 60px;
        opacity: 8;
    }
    
    #imgbqueen {
        height: 60px;
        width: 60px;
        opacity: 8;
    }

}

@media screen and (max-height: 769px) {

    header {
        margin-bottom: 15px;
    }

    .wrapper {
        width: 620px;
        margin-left: 195px;
    }

    .box {
        height: 75px;
        font-size: 19px;
    }

    #imgwrooka {
        height: 55px;
        width: 55px;
        opacity: 8;
    }
    
    #imgwrookb {
        height: 55px;
        width: 55px;
        opacity: 8;
    }
    
    #imgbrooka {
        height: 55px;
        width: 55px;
        opacity: 8;
    }
    
    #imgbrookb {
        height: 55px;
        width: 55px;
        opacity: 8;
    }
    
    #imgwknighta {
        height: 55px;
        width: 55px;
        opacity: 8;
    }
    
    #whiteknighta {
        position: absolute;
    }
    
    #imgbknighta {
        height: 55px;
        width: 55px;
        opacity: 8;
    }
    
    #imgbknightb {
        height: 55px;
        width: 55px;
        opacity: 8;
    }
    
    #imgwbishopa {
        height: 55px;
        width: 55px;
        opacity: 8;
    }
    
    #imgwbishopb {
        height: 55px;
        width: 55px;
        opacity: 8;
    }
    
    #imgbbishopa {
        height: 55px;
        width: 55px;
        opacity: 8;
    }
    
    #imgbbishopb {
        height: 55px;
        width: 55px;
        opacity: 8;
    }
    
    #imgwking {
        height: 55px;
        width: 55px;
        opacity: 8;
    }
    
    #imgbking {
        height: 55px;
        width: 55px;
        opacity: 8;
    }
    
    #imgwqueen {
        height: 55px;
        width: 55px;
        opacity: 8;
    }
    
    #imgbqueen {
        height: 55px;
        width: 55px;
        opacity: 8;
    }

}

@media screen and (max-width: 541px) {

    header {
        padding: 15px 0 15px 0;
    }
    header h1 {
        font-size: 35px;
    }

    .wrapper {
        width: 515px;
        margin-left: 25px;
        padding-left: 0;
    }

    .box {
        height: 62px;
    }

    #imgwrooka {
        height: 40px;
        width: 40px;
        opacity: 8;
    }
    
    #imgwrookb {
        height: 40px;
        width: 40px;
        opacity: 8;
    }
    
    #imgbrooka {
        height: 40px;
        width: 40px;
        opacity: 8;
    }
    
    #imgbrookb {
        height: 40px;
        width: 40px;
        opacity: 8;
    }
    
    #imgwknighta {
        height: 40px;
        width: 40px;
        opacity: 8;
    }
    
    #whiteknighta {
        position: absolute;
    }
    
    #imgbknighta {
        height: 40px;
        width: 40px;
        opacity: 8;
    }
    
    #imgbknightb {
        height: 40px;
        width: 40px;
        opacity: 8;
    }
    
    #imgwbishopa {
        height: 40px;
        width: 40px;
        opacity: 8;
    }
    
    #imgwbishopb {
        height: 40px;
        width: 40px;
        opacity: 8;
    }
    
    #imgbbishopa {
        height: 40px;
        width: 40px;
        opacity: 8;
    }
    
    #imgbbishopb {
        height: 40px;
        width: 40px;
        opacity: 8;
    }
    
    #imgwking {
        height: 40px;
        width: 40px;
        opacity: 8;
    }
    
    #imgbking {
        height: 40px;
        width: 40px;
        opacity: 8;
    }
    
    #imgwqueen {
        height: 40px;
        width: 40px;
        opacity: 8;
    }
    
    #imgbqueen {
        height: 40px;
        width: 40px;
        opacity: 8;
    }

}

@media screen and (max-height: 541px) {

    header {
        padding: 15px 0 15px 0;
    }

    header h1 {
        font-size: 30px;
    }

    .box {
        height: 55px;
        font-size: 15px;
    }

    .wrapper {
        width: 465px;
        margin-left: 118px;
    }

    #imgwrooka {
        height: 37px;
        width: 37px;
        opacity: 8;
    }
    
    #imgwrookb {
        height: 37px;
        width: 37px;
        opacity: 8;
    }
    
    #imgbrooka {
        height: 37px;
        width: 37px;
        opacity: 8;
    }
    
    #imgbrookb {
        height: 37px;
        width: 37px;
        opacity: 8;
    }
    
    #imgwknighta {
        height: 37px;
        width: 37px;
        opacity: 8;
    }
    
    #whiteknighta {
        position: absolute;
    }
    
    #imgbknighta {
        height: 37px;
        width: 37px;
        opacity: 8;
    }
    
    #imgbknightb {
        height: 37px;
        width: 37px;
        opacity: 8;
    }
    
    #imgwbishopa {
        height: 37px;
        width: 37px;
        opacity: 8;
    }
    
    #imgwbishopb {
        height: 37px;
        width: 37px;
        opacity: 8;
    }
    
    #imgbbishopa {
        height: 37px;
        width: 37px;
        opacity: 8;
    }
    
    #imgbbishopb {
        height: 37px;
        width: 37px;
        opacity: 8;
    }
    
    #imgwking {
        height: 37px;
        width: 37px;
        opacity: 8;
    }
    
    #imgbking {
        height: 37px;
        width: 37px;
        opacity: 8;
    }
    
    #imgwqueen {
        height: 37px;
        width: 37px;
        opacity: 8;
    }
    
    #imgbqueen {
        height: 37px;
        width: 37px;
        opacity: 8;
    }

}

@media screen and (max-width: 415px) {

    header {
        width: 100%;
    }

    .wrapper {
        width: 400px;
        margin-left: 16px;
    }

    .box {
        height: 48px;
        font-size: 15px;
    }

    #imgwrooka {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
    
    #imgwrookb {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
    
    #imgbrooka {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
    
    #imgbrookb {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
    
    #imgwknighta {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
    
    #whiteknighta {
        position: absolute;
    }
    
    #imgbknighta {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
    
    #imgbknightb {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
    
    #imgwbishopa {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
    
    #imgwbishopb {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
    
    #imgbbishopa {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
    
    #imgbbishopb {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
    
    #imgwking {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
    
    #imgbking {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
    
    #imgwqueen {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
    
    #imgbqueen {
        height: 30px;
        width: 30px;
        opacity: 8;
    }
}

@media screen and (max-height: 415px) {

    header {
        padding: 10px 0 10px 0;
    }

    header h1 {
        font-size: 25px;
    }

    .wrapper {
        width: 333px;
        margin-left: 185px;
    }

    .box {
        height: 40px;
        font-size: 11px;
    }

    #imgwrooka {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgwrookb {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgbrooka {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgbrookb {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgwknighta {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #whiteknighta {
        position: absolute;
    }
    
    #imgbknighta {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgbknightb {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgwbishopa {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgwbishopb {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgbbishopa {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgbbishopb {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgwking {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgbking {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgwqueen {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgbqueen {
        height: 25px;
        width: 25px;
        opacity: 8;
    }

}

@media screen and (max-width: 376px) {

    .wrapper {
        width: 360px;
    }

    .box {
        height: 43.2px;
    }

    #imgwrooka {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgwrookb {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgbrooka {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgbrookb {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgwknighta {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #whiteknighta {
        position: absolute;
    }
    
    #imgbknighta {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgbknightb {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgwbishopa {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgwbishopb {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgbbishopa {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgbbishopb {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgwking {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgbking {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgwqueen {
        height: 25px;
        width: 25px;
        opacity: 8;
    }
    
    #imgbqueen {
        height: 25px;
        width: 25px;
        opacity: 8;
    }

}

@media screen and (max-height: 376px) {

    .wrapper {
        width: 308px;
        margin-left: 144px;
    }

    .box {
        height: 37px;
    }

}

@media screen and (max-width: 361px) {

    .wrapper {
        margin: 0;
        padding-left: 9px;
    }

}

@media screen and (max-height: 361px) {

    .wrapper {
        width: 292px;
    }

    .box {
        height: 35px;
        font-size: 10px;
    }

}

@media screen and (max-width: 321px) {

    .wrapper {
        width: 300px;
    }

    .box {
        height: 36px;
    }

    #imgwrooka {
        height: 18px;
        width: 18px;
        opacity: 8;
    }
    
    #imgwrookb {
        height: 18px;
        width: 18px;
        opacity: 8;
    }
    
    #imgbrooka {
        height: 18px;
        width: 18px;
        opacity: 8;
    }
    
    #imgbrookb {
        height: 18px;
        width: 18px;
        opacity: 8;
    }
    
    #imgwknighta {
        height: 18px;
        width: 18px;
        opacity: 8;
    }
    
    #whiteknighta {
        position: absolute;
    }
    
    #imgbknighta {
        height: 18px;
        width: 18px;
        opacity: 8;
    }
    
    #imgbknightb {
        height: 18px;
        width: 18px;
        opacity: 8;
    }
    
    #imgwbishopa {
        height: 18px;
        width: 18px;
        opacity: 8;
    }
    
    #imgwbishopb {
        height: 18px;
        width: 18px;
        opacity: 8;
    }
    
    #imgbbishopa {
        height: 18px;
        width: 18px;
        opacity: 8;
    }
    
    #imgbbishopb {
        height: 18px;
        width: 18px;
        opacity: 8;
    }
    
    #imgwking {
        height: 18px;
        width: 18px;
        opacity: 8;
    }
    
    #imgbking {
        height: 18px;
        width: 18px;
        opacity: 8;
    }
    
    #imgwqueen {
        height: 18px;
        width: 18px;
        opacity: 8;
    }
    
    #imgbqueen {
        height: 18px;
        width: 18px;
        opacity: 8;
    }


}

@media screen and (max-height: 321px) {

    .wrapper {
        width: 250px;
    }

    .box {
        height: 30px;
        font-size: 7px;
    }



}

@media screen and (max-width: 281px) {

    header  h1 {
        font-size: 25px;
    }

    .wrapper {
        width: 260px;
    }

    .box {
        font-size: 11px;
    }

}

@media screen and (max-height: 281px) {

    header h1 {
        font-size: 20px;
    }

    header {
        padding: 10px 0 10px 0;
    }

    .wrapper {
        width: 203px;
        margin-left: 230px;
    }

    .box {
        height: 27px;
        font-size: 10px;
    }

    #imgwrooka {
        height: 13px;
        width: 13px;
        opacity: 8;
    }
    
    #imgwrookb {
        height: 13px;
        width: 13px;
        opacity: 8;
    }
    
    #imgbrooka {
        height: 13px;
        width: 13px;
        opacity: 8;
    }
    
    #imgbrookb {
        height: 13px;
        width: 13px;
        opacity: 8;
    }
    
    #imgwknighta {
        height: 13px;
        width: 13px;
        opacity: 8;
    }
    
    #whiteknighta {
        position: absolute;
    }
    
    #imgbknighta {
        height: 13px;
        width: 13px;
        opacity: 8;
    }
    
    #imgbknightb {
        height: 13px;
        width: 13px;
        opacity: 8;
    }
    
    #imgwbishopa {
        height: 13px;
        width: 13px;
        opacity: 8;
    }
    
    #imgwbishopb {
        height: 13px;
        width: 13px;
        opacity: 8;
    }
    
    #imgbbishopa {
        height: 13px;
        width: 13px;
        opacity: 8;
    }
    
    #imgbbishopb {
        height: 13px;
        width: 13px;
        opacity: 8;
    }
    
    #imgwking {
        height: 13px;
        width: 13px;
        opacity: 8;
    }
    
    #imgbking {
        height: 13px;
        width: 13px;
        opacity: 8;
    }
    
    #imgwqueen {
        height: 13px;
        width: 13px;
        opacity: 8;
    }
    
    #imgbqueen {
        height: 13px;
        width: 13px;
        opacity: 8;
    }

}