@media screen and (max-width: 1024px) {

    header {
        margin-bottom: 15px;
    }

    header h1 {
        font-size: 60px;
    }

    header h3 {
        font-size: 25px;
    }

    .wrapper {
        width: 60.5%;
        height: 620px;
    }

    .square {
        height: 78px;
    }

}

@media screen and (max-width: 768px) {

    header h1 {
        font-size: 55px;
    }

    header h3 {
        font-size: 22px;
    }

    .wrapper {
        width: 55.5%;
        height: 426px;
    }

    .square {
        height: 54px;
    }

}

@media screen and (max-width: 540px) {

    .wrapper {
        height: 202.5px;
        border-width: 20px;
    }

    .square {
        height: 26px;
    }

}

@media screen and (max-width: 415px) {

    .wrapper {
        height: 155.5px
    }

    .square {
        height: 19.5px;
    }

}