@media screen and (max-width: 1025px) and (max-height: 1367px) {

}

@media screen and (max-height: 1025px) and (max-width: 1367px) {

    

}

@media screen and (max-width: 768px) and (max-height: 1024px) {

    .row>* {
        width: 8.33333333%;
    }

    .col-lg-1 {
        height: 66px;
    }

    .blackPawn {
        width: 40%;
        height: 50px;
    }

   .whitePawn {
        width: 40%;
        height: 50px;
    }

   .blackRook {
        width: 42%;
        height: 55px
    }

   .whiteRook {
        width: 42%;
        height: 55px
    }

   .blackKnight {
        width: 47%;
        height: 47px    
    }

   .whiteKnight {
        width: 47%;
        height: 47px
    }

   .blackBishop {
        width: 40%;
        height: 55px;
    }

   .whiteBishop {
        width: 40%;
        height: 55px;
    }

   .blackQueen {
        width: 40%;
        height: 60px;
    }

   .whiteQueen {
        width: 40%;
        height: 60px;
    }

   .blackKing {
        width: 45%;
        height: 63px;
    }

   .whiteKing {
        width: 45%;
        height: 63px;
    }

}

@media screen and (max-height: 768px) and (max-width: 1024px) {


}

@media screen and (max-width: 540px) and (max-height: 720px) {

    .col-lg-1 {
        height: 47px;
    }

    .blackPawn {
        width: 40%;
        height: 35px;
    }

   .whitePawn {
        width: 40%;
        height: 35px;
    }

   .blackRook {
        width: 45%;
        height: 38px;
    }

   .whiteRook {
        width: 45%;
        height: 38px;
    }

   .blackKnight {
        width: 47%;
        height: 33px    
    }

   .whiteKnight {
        width: 47%;
        height: 33px
    }

   .blackBishop {
        width: 40%;
        height: 38px;
    }

   .whiteBishop {
        width: 40%;
        height: 38px;
    }

   .blackQueen {
        width: 40%;
        height: 41px;
    }

   .whiteQueen {
        width: 40%;
        height: 41px;
    }

   .blackKing {
        width: 45%;
        height: 45px;
    }

   .whiteKing {
        width: 45%;
        height: 45px;
    }

}

@media screen and (max-height: 540px) and (max-width: 720px) {

    .col-lg-1 {
        height: 47px;
    }

    .row>* {
        width: 47px;
    }
    
    .row {
        margin-left: 77px;
    }

    .blackPawn {
        width: 40%;
        height: 35px;
    }

   .whitePawn {
        width: 40%;
        height: 35px;
    }

   .blackRook {
        width: 45%;
        height: 38px;
    }

   .whiteRook {
        width: 45%;
        height: 38px;
    }

   .blackKnight {
        width: 47%;
        height: 33px    
    }

   .whiteKnight {
        width: 47%;
        height: 33px
    }

   .blackBishop {
        width: 40%;
        height: 38px;
    }

   .whiteBishop {
        width: 40%;
        height: 38px;
    }

   .blackQueen {
        width: 40%;
        height: 41px;
    }

   .whiteQueen {
        width: 40%;
        height: 41px;
    }

   .blackKing {
        width: 45%;
        height: 45px;
    }

   .whiteKing {
        width: 45%;
        height: 45px;
    }

}

@media screen and (max-width: 415px) and (max-height: 737px) {

    .col-lg-1 {
        height: 36.525px;
    }

    header h1 {
        font-size: 30px;
    }

    header h3 {
        font-size: 13px;
    }

    .blackPawn {
        width: 40%;
        height: 26px;
    }

   .whitePawn {
        width: 40%;
        height: 26px;
    }

   .blackRook {
        width: 45%;
        height: 30px;
    }

   .whiteRook {
        width: 45%;
        height: 30px;
    }

   .blackKnight {
        width: 47%;
        height: 27px    
    }

   .whiteKnight {
        width: 47%;
        height: 27px
    }

   .blackBishop {
        width: 40%;
        height: 30px;
    }

   .whiteBishop {
        width: 40%;
        height: 30px;
    }

   .blackQueen {
        width: 40%;
        height: 31px;
    }

   .whiteQueen {
        width: 40%;
        height: 31px;
    }

   .blackKing {
        width: 45%;
        height: 34px;
    }

   .whiteKing {
        width: 45%;
        height: 34px;
    }

}

@media screen and (max-height: 415px) and (max-width: 737px) {

    header h1 {
        font-size: 30px;
    }

    header h3 {
        font-size: 13px;
    }

    .col-lg-1 {
        height: 33px;
    }

    .row>* {
        width: 33px;
    }

    .row {
        margin-left: 170px;
    }

    .blackPawn {
        width: 40%;
        height: 26px;
    }

   .whitePawn {
        width: 40%;
        height: 26px;
    }

   .blackRook {
        width: 45%;
        height: 30px;
    }

   .whiteRook {
        width: 45%;
        height: 30px;
    }

   .blackKnight {
        width: 47%;
        height: 27px    
    }

   .whiteKnight {
        width: 47%;
        height: 27px
    }

   .blackBishop {
        width: 40%;
        height: 30px;
    }

   .whiteBishop {
        width: 40%;
        height: 30px;
    }

   .blackQueen {
        width: 40%;
        height: 31px;
    }

   .whiteQueen {
        width: 40%;
        height: 31px;
    }

   .blackKing {
        width: 45%;
        height: 34px;
    }

   .whiteKing {
        width: 45%;
        height: 34px;
    }

}

@media screen and (max-width: 412px) and (max-height: 824px) {

    header h1 {
        font-size: 30px;
    }

    header h3 {
        font-size: 13px;
    }

   .col-lg-1 {
       height: 36.263px;
    }

    .blackPawn {
        width: 40%;
        height: 26px;
    }

   .whitePawn {
        width: 40%;
        height: 26px;
    }

   .blackRook {
        width: 45%;
        height: 30px;
    }

   .whiteRook {
        width: 45%;
        height: 30px;
    }

   .blackKnight {
        width: 47%;
        height: 27px    
    }

   .whiteKnight {
        width: 47%;
        height: 27px
    }

   .blackBishop {
        width: 40%;
        height: 30px;
    }

   .whiteBishop {
        width: 40%;
        height: 30px;
    }

   .blackQueen {
        width: 40%;
        height: 31px;
    }

   .whiteQueen {
        width: 40%;
        height: 31px;
    }

   .blackKing {
        width: 45%;
        height: 34px;
    }

   .whiteKing {
        width: 45%;
        height: 34px;
    }

}

@media screen and (max-height: 412px) and (max-width: 824px) {

    header h1 {
        font-size: 30px;
    }

    header h3 {
        font-size: 13px;
    }

    .col-lg-1 {
        height: 35px;
    }

    .row>* {
        width: 35px;
    }

    .row {
        margin-left: 200px;
    }

    .blackPawn {
        width: 40%;
        height: 26px;
    }

   .whitePawn {
        width: 40%;
        height: 26px;
    }

   .blackRook {
        width: 45%;
        height: 30px;
    }

   .whiteRook {
        width: 45%;
        height: 30px;
    }

   .blackKnight {
        width: 47%;
        height: 27px    
    }

   .whiteKnight {
        width: 47%;
        height: 27px
    }

   .blackBishop {
        width: 40%;
        height: 30px;
    }

   .whiteBishop {
        width: 40%;
        height: 30px;
    }

   .blackQueen {
        width: 40%;
        height: 31px;
    }

   .whiteQueen {
        width: 40%;
        height: 31px;
    }

   .blackKing {
        width: 45%;
        height: 34px;
    }

   .whiteKing {
        width: 45%;
        height: 34px;
    }

}

@media screen and (max-width: 412px) and (max-height: 732px) {

    

}

@media screen and (max-height: 412px) and (max-width: 732px) {

    .row {
        margin-left: 155px;
    }

}

@media screen and (max-width: 376px) and (max-height: 812px) {

   

}

@media screen and (max-height: 376px) and (max-width: 812px) {

    .row {
        margin-left: 228px;
    }

    .row>* {
        width: 30px;
    }

    .col-lg-1 {
        height: 30px;
    }

    .blackPawn {
        width: 39%;
        height: 20px;
    }

    .whitePawn {
        width: 39%;
        height: 20px;
    }

   .blackRook {
        width: 45%;
        height: 25px;
    }

   .whiteRook {
        width: 45%;
        height: 25px;
    }

   .blackKnight {
        width: 50%;
        height: 21px    
    }

   .whiteKnight {
        width: 50%;
        height: 21px
    }

   .blackBishop {
        width: 40%;
        height: 23px;
    }

   .whiteBishop {
        width: 40%;
        height: 23px;
    }

   .blackQueen {
        width: 40%;
        height: 26px;
    }

   .whiteQueen {
        width: 40%;
        height: 26px;
    }

   .blackKing {
        width: 45%;
        height: 27px;
    }

   .whiteKing {
        width: 45%;
        height: 27px;
    }

}

@media screen and (max-width: 376px) and (max-height: 668px) {

    
}

@media screen and (max-height: 376px) and (max-width: 668px) {

    .row {
        margin-left: 155px;
    }

}

@media screen and (max-width: 361px) and (max-height: 641px) {

   

}

@media screen and (max-height: 361px) and (max-width: 641px) {

    .row {
        margin-left: 140px;
    }

}

@media screen and (max-width: 321px) and (max-height: 569px) {

    .col-lg-1 {
        height: 28.663px;
    }

    .blackPawn {
        width: 40%;
        height: 21px;
    }

    .whitePawn {
        width: 40%;
        height: 21px;
    }

   .blackRook {
        width: 45%;
        height: 25px;
    }

   .whiteRook {
        width: 45%;
        height: 25px;
    }

   .blackKnight {
        width: 50%;
        height: 21px    
    }

   .whiteKnight {
        width: 50%;
        height: 21px
    }

   .blackBishop {
        width: 40%;
        height: 23px;
    }

   .whiteBishop {
        width: 40%;
        height: 23px;
    }

   .blackQueen {
        width: 40%;
        height: 26px;
    }

   .whiteQueen {
        width: 40%;
        height: 26px;
    }

   .blackKing {
        width: 45%;
        height: 27px;
    }

   .whiteKing {
        width: 45%;
        height: 27px;
    }

}

@media screen and (max-height: 321px) and (max-width: 569px) {

    header h1 {
        font-size: 25px;
    }

    header h3 {
        font-size: 11px;
    }

    .row {
        margin-left: 137px;
    }

    .row>* {
        width: 25px;
    }

    .col-lg-1 {
        height: 25px;
    }

    .blackPawn {
        width: 41%;
        height: 18px;
    }

    .whitePawn {
        width: 41%;
        height: 18px;
    }

   .blackRook {
        width: 45%;
        height: 25px;
    }

   .whiteRook {
        width: 45%;
        height: 25px;
    }

   .blackKnight {
        width: 50%;
        height: 21px    
    }

   .whiteKnight {
        width: 50%;
        height: 21px
    }

   .blackBishop {
        width: 40%;
        height: 23px;
    }

   .whiteBishop {
        width: 40%;
        height: 23px;
    }

   .blackQueen {
        width: 40%;
        height: 26px;
    }

   .whiteQueen {
        width: 40%;
        height: 26px;
    }

   .blackKing {
        width: 45%;
        height: 27px;
    }

   .whiteKing {
        width: 45%;
        height: 27px;
    }

}

@media screen and (max-width: 281px) and (max-height: 654px) {

    header h1 {
        font-size: 25px;
    }

    header h3 {
        font-size: 11px;
    }

    .col-lg-1 {
        height: 25.325px;
    }

}

@media screen and (max-height: 281px) and (max-width: 654px) {

    header h1 {
        font-size: 25px;
    }

    header h3 {
        font-size: 11px;
    }

    .col-lg-1 {
        height: 22px;
    }

    .row {
        margin-left: 197px;
    }

    .row>* {
        width: 22px;
    }

}