/*body styling*/

body {
    background: whitesmoke;
}


/*header styling*/

header {
    text-align: center;
    padding: 15px 0 15px 0;
    font-family: 'Tapestry', cursive;
    color: brown;
}

h1 {
    margin: 0;
}

h3 {
    margin: 0;
}

/*board*/
.container {
    width: 600px;
    height: 600px;
    background: white;
    padding: 0;
}

.row {
    margin: 0;
}

.col-lg-12 {
    padding: 0;
}

.square {
    width: 12.5%;
    height: 75px;
    float: left;
}

.W {
    background: white;
}

.B {
    background: green;
}

/*pieces*/

/*black rook 1*/
#blackRook1 {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#br {
    position: absolute;
    top: 120px;
    width: 75px;
    height: 55px;
}

/*black knight 1*/
#blackKnight1 {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#bn {
    position: absolute;
    top: 120px;
    width: 75px;
    height: 55px;
}

/*black bishop 1*/
#blackBishop1 {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#bb {
    position: absolute;
    top: 120px;
    width: 75px;
    height: 55px;
}

/*black queen*/
#blackQueen {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#bq {
    position: absolute;
    top: 120px;
    width: 75px;
    height: 55px;
}

/*black king*/
#blackKing {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#bk {
    position: absolute;
    top: 120px;
    width: 75px;
    height: 55px;
}

/*black bishop 2*/
#blackBishop2 {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#bb2 {
    position: absolute;
    top: 120px;
    width: 75px;
    height: 55px;
}

/*black knight 2*/
#blackKnight2 {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#bn2 {
    position: absolute;
    top: 120px;
    width: 75px;
    height: 55px;
}

/*black rook 2*/
#blackRook2 {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#br2 {
    position: absolute;
    top: 120px;
    width: 75px;
    height: 55px;
}

/*black pawn*/
#pawn1 {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#pawna {
    position: absolute;
    top: 195px;
    width: 75px;
    height: 75px;
}

#pawn2 {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#pawnb {
    position: absolute;
    top: 195px;
    width: 75px;
    height: 75px;
}

#pawn3 {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#pawnc {
    position: absolute;
    top: 195px;
    width: 75px;
    height: 75px;
}

#pawn4 {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#pawnd {
    position: absolute;
    top: 195px;
    width: 75px;
    height: 75px;
}

#pawn5 {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#pawne {
    position: absolute;
    top: 195px;
    width: 75px;
    height: 75px;
}

#pawn6 {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#pawnf {
    position: absolute;
    top: 195px;
    width: 75px;
    height: 75px;
}

#pawn7 {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#pawng {
    position: absolute;
    top: 195px;
    width: 75px;
    height: 75px;
}

#pawn8 {
    max-width: 60%;
    max-height: 55px;
    margin: auto;
    display: block;
}

#pawnh {
    position: absolute;
    top: 195px;
    width: 75px;
    height: 75px;
}