/*body styling*/
body {
    margin: 0;
    background: bisque;
    height: 100%;
}

/*header styling*/
header {
    text-align: center;
    margin-bottom: 6px;
}

header h1 {
    font-family: 'Rampart One', cursive;
    font-size: 45px;
    color: red;
    padding: 15px 0 10px 0;
}

header h3 {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}

/*8th rank styling*/

.container {
    padding: 0 0 0 0;
    max-width: 1020px;
}

.col-lg-1 {
    height: 75px;
}

.white {
    background: burlywood;
}

.black {
    background: brown;
}