/*body styling*/
body {
    margin: 0;
    background: bisque;
    height: 100%;
}

/*header styling*/
header {
    text-align: center;
    margin-bottom: 15px;
}

header h1 {
    font-family: 'Rampart One', cursive;
    font-size: 45px;
    color: red;
    padding: 15px 0 10px 0;
}

header h3 {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}

/*8th rank styling*/

.container {
    padding: 0;
    max-width: 876px;
}

.col-lg-1 {
    height: 75px;
}

.row>* {
    padding: 0;
}

.white {
    background: burlywood;
}

.black {
    background: brown;
}

/*pieces styling*/
.blackPawn {
    position: relative;
    width: 45%;
    height: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.whitePawn {
    position: relative;
    width: 45%;
    height: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#blackRooka {
    position: absolute;
    width: 30px;
    height: 60px;
    top: 113px;
    left: 488px;
}

#blackRookb {
    position: absolute;
    width: 30px;
    height: 60px;
    top: 113px;
    right: 488px;
}

.whiteRook {
    position: relative;
    width: 45%;
    height: 65px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#blackKnighta {
    position: absolute;
    width: 30px;
    height: 58px;
}

#blackKnightb {
    position: absolute;
    width: 30px;
    height: 58px;
}

.whiteKnight {
    position: relative;
    width: 55%;
    height: 58px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blackBishop {
    position: relative;
    width: 45%;
    height: 63px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.whiteBishop {
    position: relative;
    width: 45%;
    height: 63px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.blackQueen {
    position: relative;
    width: 40%;
    height: 67px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.whiteQueen {
    position: relative;
    width: 40%;
    height: 67px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blackKing {
    position: relative;
    width: 45%;
    height: 72px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.whiteKing {
    position: relative;
    width: 45%;
    height: 72px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    
#rookdiv {
    position: absolute;
    left: 3px;
    top: -2px;
}
